* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5c00da;
  width: 370px;
  height: 460px;
}

body,
input,
button,
textarea {
  font: 600 13px Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
}
